<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="resource-type" content="document" />
    <meta name="revisit-after" content="30" />
    <meta name="classification" content="xxxxxxxxxxxxxxxxxxxxxx" />
    <meta name="description" content="xxxxxxxxxxxxxxxxxxxxxx" />
    <meta name="keywords" content="xxxxxxxxxxxxxxxxxxxxxx" />
    <meta name="robots" content="ALL" /> 
    <meta name="distribution" content="Local" /> 
    <meta name="rating" content="General" /> 
    <meta name="copyright" content="xxxxxxxxxxxxxxxxxxxxxx" />
    <meta name="author" content="Storm Security" />
    <meta name="language" content="pt-br" />
    <meta name="doc-type" content="Completed" /> 
    <meta name="doc-class" content="Published" /> 
	<meta name="doc-rights" content="Private" />

	<title>Ricardo Dani dot com!</title>

    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css" />
	
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>

</head>

<body>
	<div id="container">
        <div id="header">
            <h1 class="logo">
            <a href="/" title="Ricardo Dani dot com!"><strong>ricardo</strong><span class="font-black">dani</span><span class="orange">.com</span></a>
            </h1>
        </div>
		<div id="content" style="padding: 30px;">
            <h4>Breve, aqui: um blog sobre desenvolvimento web, python, django, noSQL, tecnologias ágeis, tdd, jquery e muito mais :).</h4>
            <a href="http://github.com/ricardodani/ricardodani.com.git">Source @ GitHub</a>
        </div>
        
	</div>
</body>
</html>
